[Unit]
Description=Mivi USB HID Keyboard Gadget
After=local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/usb-keyboard-gadget
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target